:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  justify-content: center;

  #inner-container {
    width: 750px;

    .title {
      font-family: Oswald, "Helvetica Neue", sans-serif;
      margin-top: 0px;
    }

    .check {
      color: #5eba7d;
    }

    .full-width {
      width: 100%;
    }

    .player-card {
      width: 225px;

      .avatar {
        width: 175px;
        height: 175px;
        margin: 0 auto;
      }
    }
  }
}
