.bingocard {
  display: flex;
  flex: 1;

  .grid {
    margin-bottom: 25px;
  }

  table {
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 650px;
    border-collapse:collapse;

    td {
      transition: background-color;
      transition-duration: 0.2s;

      &.marked {
        background-color: #f44336;
      }
    }
  }
}
