<div id="container">
    <form [formGroup]="this.bingoCardFormGroup" (ngSubmit)="this.generateBingoCards()" id="bingo-card-form" *ngIf="(this.bingoCards$ | async).length === 0; else downloadBingoCards" @createBingoCards>
        <div class="form-field-row">
            <mat-form-field class="form-field">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error *ngIf="this.bingoCardFormGroup.get('name').invalid">Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field quarter">
                <mat-label>Size</mat-label>
                <mat-select name="size" formControlName="size" (selectionChange)="this.selectChange($event)">
                    <mat-option [value]="3">3x3</mat-option>
                    <mat-option [value]="4">4x4</mat-option>
                    <mat-option [value]="5">5x5</mat-option>
                    <mat-option [value]="6">6x6</mat-option>
                    <mat-option [value]="7">7x7</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-grid-list [cols]="this.getNumberOfColumns()">
                <mat-grid-tile [style.background]="this.backgroundColor" [style.border]="'1px solid '+ this.borderColor"
                    *ngFor="let tile of this.gridTiles"
                    [colspan]="tile.cols">
                    {{ tile.text }}
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="form-field-row">
            <div class="form-element">
                <mat-checkbox color="primary" formControlName="centerSquareFree" (change)="this.centerSquareChange($event)">
                    <span class="wrap-mat-radio-label">Center square is a free space</span>
                </mat-checkbox>
            </div>
            <div class="form-element">
                <span>Background</span>
                <mcc-color-picker [selectedColor]="this.backgroundColor" (selected)="this.backgroundColorSelected($event)"></mcc-color-picker>
            </div>
            <div class="form-element">
                <span>Border</span>
                <mcc-color-picker [selectedColor]="this.borderColor" (selected)="this.borderColorSelected($event)"></mcc-color-picker>
            </div>
        </div>
        <div class="form-field-row">
            <mat-form-field class="form-field">
                <mat-label>Amount:</mat-label>
                <input matInput type="number" min="1" max="50" formControlName="amount">
                <mat-error *ngIf="this.bingoCardFormGroup.get('amount').invalid">Amount is required</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field-row">
            <spinner-button [loading]="this.loading">
              <button mat-raised-button color="primary" type="submit" [disabled]="!this.bingoCardFormGroup.valid || this.loading">Generate Cards</button>
            </spinner-button>

            <button mat-raised-button color="accent" type="button" (click)="this.resetBingoCardForm()">Reset</button>
        </div>
    </form>

</div>

<ng-template #downloadBingoCards>
  <div @generateBingoCards>
      <app-download [borderColor]="this.borderColor" [backgroundColor]="this.backgroundColor" [bingoCards$]="this.bingoCards$"></app-download>
  </div>
</ng-template>
