#game-setup-form {
  width: 650px;

  .form-field-row {
    display: flex;
    margin: 15px 0px;

    .form-field {
      display: flex;
      flex: 1 1 0;
      width: 0;
      margin-right: 25px;
      align-items: center;
      justify-content: center;

      &:last-child {
          margin-right: 0px;
      }

      &.quarter {
          flex: 0 0 25%;
      }

      ::ng-deep .mat-form-field-wrapper {
          width: 100%;
      }
    }
  }

  .form-field-inline-row {
    display: inline-block;

    .slide-toggle {
      display: block;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .error-message {
    color: #f44336;
    font-size: 13px;
  }
}
