#container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  #game-setup-form {
    width: 650px;

    .form-field-row {
      display: flex;
      margin: 15px 0px;

      .spinner-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .button-container {
        display: inline-block;
        position: relative;
      }

      .form-field {
        display: flex;
        flex: 1 1 0;
        width: 0;
        margin-right: 25px;
        align-items: center;
        justify-content: center;

        &:last-child {
            margin-right: 0px;
        }

        &.quarter {
            flex: 0 0 25%;
        }

        ::ng-deep .mat-form-field-wrapper {
            width: 100%;
        }
      }
    }
  }
}
