<div id="container">
  <form [formGroup]="this.gameSetupFormGroup" (ngSubmit)="this.createBingoGame()" id="game-setup-form">
    <div class="form-field-row">
      <mat-form-field class="form-field">
        <mat-label>{{ 'BINGO_GAME.SETUP.FORM.NAME.label' | translate }}</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="this.gameSetupFormGroup.get('name').invalid">{{ 'BINGO_GAME.SETUP.FORM.NAME.error_message' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field quarter">
        <mat-label>{{ 'BINGO_GAME.SETUP.FORM.CARD_SIZE.label' | translate }}</mat-label>
        <mat-select name="size" formControlName="size">
          <mat-option [value]="3">3x3</mat-option>
          <mat-option [value]="4">4x4</mat-option>
          <mat-option [value]="5">5x5</mat-option>
          <mat-option [value]="6">6x6</mat-option>
          <mat-option [value]="7">7x7</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field-row">
      <mat-form-field class="form-field">
          <mat-label>{{ 'BINGO_GAME.SETUP.FORM.DATE.label' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="this.gameSetupFormGroup.get('date').invalid">{{ 'BINGO_GAME.SETUP.FORM.DATE.error_message' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
          <mat-label>{{ 'BINGO_GAME.SETUP.FORM.MAX_AMOUNT_PLAYERS.label' | translate }}</mat-label>
          <input matInput type="number" min="1" max="50" formControlName="amountOfPlayers">
          <mat-error *ngIf="this.gameSetupFormGroup.get('amountOfPlayers').invalid">{{ 'BINGO_GAME.SETUP.FORM.MAX_AMOUNT_PLAYERS.error_message' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <button mat-stroked-button type="button" (click)="this.addPlayer()">Add Player</button>

    <ng-container formArrayName="players">
      <mat-accordion class="players-accordion">
        <mat-expansion-panel *ngFor="let player of players.controls; index as i" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Player {{ i + 1 }}</mat-panel-title>
            <mat-panel-description>
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field class="form-field">
            <mat-label>Player name:</mat-label>
            <input matInput type="text" [formControl]="players.controls[i]">
            <mat-error *ngIf="players.controls[i].invalid">Player name is required</mat-error>
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="warn" type="button" (click)="this.removePlayer(i)">Remove</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>

    <div class="form-field-row">
      <spinner-button [loading]="this.loading">
        <button mat-raised-button color="primary" type="submit"
          [disabled]="!this.gameSetupFormGroup.valid || this.loading" id="generate-button">{{ 'BINGO_GAME.SETUP.FORM.submit' | translate }}</button>
      </spinner-button>
    </div>
  </form>
</div>
