<div id="container">
  <form [formGroup]="this.gameSetupFormGroup" (ngSubmit)="this.createBingoGame()" id="game-setup-form">
    <div class="form-field-row">
      <mat-form-field class="form-field">
        <mat-label>{{ 'BINGO_GAME.SETUP.FORM.NAME.label' | translate }}</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="this.gameSetupFormGroup.get('name').invalid">{{ 'BINGO_GAME.SETUP.FORM.NAME.error_message' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field quarter">
        <mat-label>{{ 'BINGO_GAME.SETUP.FORM.CARD_SIZE.label' | translate }}</mat-label>
        <mat-select name="size" formControlName="size">
          <mat-option [value]="3">3x3</mat-option>
          <mat-option [value]="4">4x4</mat-option>
          <mat-option [value]="5">5x5</mat-option>
          <mat-option [value]="6">6x6</mat-option>
          <mat-option [value]="7">7x7</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field-row">
      <mat-form-field class="form-field">
        <mat-label>{{ 'BINGO_GAME.SETUP.FORM.DATE.label' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" [min]="this.today" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="this.gameSetupFormGroup.get('date').invalid">{{ 'BINGO_GAME.SETUP.FORM.DATE.error_message' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>{{ 'BINGO_GAME.SETUP.FORM.MAX_AMOUNT_PLAYERS.label' | translate }}</mat-label>
        <input matInput type="number" min="1" max="50" formControlName="amountOfPlayers">
        <mat-error *ngIf="this.gameSetupFormGroup.get('amountOfPlayers').invalid">{{ 'BINGO_GAME.SETUP.FORM.MAX_AMOUNT_PLAYERS.error_message' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-row">
      <mat-form-field class="form-field">
        <mat-label>{{ 'BINGO_GAME.SETUP.FORM.PLAYERS.label' | translate }}</mat-label>
        <mat-chip-list #playersChipList>
          <mat-chip *ngFor="let player of this.players"
            [removable]="removable"
            [selectable]="selectable"
            (removed)="removePlayer(player)">
            {{ player.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input #playersInput formControlName="playersInput"
            [matAutocomplete]="auto"
            [matChipInputFor]="playersChipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="playerSelected($event)">
          <mat-option *ngFor="let player of this.filteredPlayers | async" [value]="player">
            {{ player.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="error-message" *ngIf="this.gameSetupFormGroup.errors?.maximumAmountOfPlayers && (gameSetupFormGroup.touched || gameSetupFormGroup.dirty)">{{ 'BINGO_GAME.SETUP.FORM.invalid_amount_of_players' | translate }}</div>

    <h4>{{ 'BINGO_GAME.SETUP.FORM.OPTIONS.title' | translate }}</h4>

    <div class="form-field-inline-row">
      <mat-slide-toggle color="primary" class="slide-toggle" formControlName="enablePrivateGame">{{ 'BINGO_GAME.SETUP.FORM.OPTIONS.ITEMS.enable_private' | translate }}</mat-slide-toggle>
      <mat-slide-toggle color="primary" class="slide-toggle" formControlName="centerSquareFree">{{ 'BINGO_GAME.SETUP.FORM.OPTIONS.ITEMS.center_square' | translate }}</mat-slide-toggle>
    </div>

    <div class="form-field-row">
      <spinner-button [loading]="this.loading">
        <button mat-raised-button color="primary" type="submit"
          [disabled]="!this.gameSetupFormGroup.valid || this.loading" id="generate-button">{{ 'BINGO_GAME.SETUP.FORM.submit' | translate }}</button>
      </spinner-button>
    </div>
  </form>
</div>
