#container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FAFAFA;

    .main-content {
      display: flex;
      flex-direction: column;
      top: 64px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      overflow: auto;
    }
}
