<page-header></page-header>

<div id="container">
  <game-setup (onBingoGameCreated)="this.bingoGame = $event" *ngIf="!this.bingoGame; else playGame">
  </game-setup>

  <ng-template #playGame>
    <count-down *ngIf="!this.countDownDone; else game" (done)="this.onCountDownDone()"></count-down>

    <ng-template #game>
      <div id="game-container">
        <div id="controls-container">
          <button mat-raised-button (click)="this.playNextRound()">Request next number</button>

          <span *ngFor="let number of this.drawnNumbers">
            {{ number }}
          </span>
        </div>

        <div id="bingocard-container">
          <div *ngFor="let player of this.bingoGame.players">
            <h2>{{ player.name }}</h2>
            <bingo-card [bingoCard]="player.bingoCard"></bingo-card>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>

</div>
