<!-- <page-header></page-header> -->

<div id="container">
  <game-setup (onBingoGameCreated)="this.bingoGame = $event" *ngIf="!this.bingoGame; else playGame">
  </game-setup>

  <ng-template #playGame>
    <count-down *ngIf="!this.countDownDone; else game" (done)="this.onCountDownDone()"></count-down>

    <ng-template #game>
      <div id="game-container">
        <div id="controls-container">
          <button mat-raised-button (click)="this.playNextRound()">Request next number</button>

          <mat-chip-list>
            <mat-chip *ngFor="let number of this.drawnNumbers" selected color="primary">
              {{ number }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <div id="bingocard-container">
          <mat-card *ngFor="let player of this.bingoGame.players">
            <mat-card-header>
              <mat-card-title>{{ player.name }}</mat-card-title>
              <mat-card-subtitle>
                <div class="progress-indicator">
                  <span>Horizontal line done</span>
                  <mat-icon *ngIf="player.isFullCardDone">done</mat-icon>
                </div>
                <div class="progress-indicator">
                  <span>Full card done</span>
                  <mat-icon *ngIf="player.isHorizontalLineDone">done</mat-icon>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <bingo-card [bingoCard]="player.bingoCard" [drawnNumbers]="this.drawnNumbers"></bingo-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </ng-template>

</div>
