<page-header></page-header>

<div id="container">
  <game-setup (onBingoGameCreated)="this.bingoCards = $event" *ngIf="this.bingoCards.length === 0; else playGame">
  </game-setup>

  <ng-template #playGame>
    <count-down *ngIf="!this.countDownDone; else game" (done)="this.onCountDownDone()"></count-down>

    <ng-template #game>
      <div id="game-container">
        <div id="controls-container">
          <button mat-raised-button (click)="this.requestNextNumber()">Request next number</button>

          <span *ngFor="let number of this.numbers">
            {{ number }}
          </span>
        </div>

        <div id="bingocard-container">
          <bingo-card *ngFor="let bingoCard of this.bingoCards" [bingoCard]="this.bingoCard"></bingo-card>
        </div>
      </div>
    </ng-template>
  </ng-template>

</div>
