<form [formGroup]="this.downloadFormGroup" (ngSubmit)="this.downloadPDF()" id="download-form">
    <div class="form-field-row">
        <mat-form-field class="form-field">
            <mat-label>Paper size</mat-label>
            <mat-select name="size" formControlName="paperSize">
                <mat-option [value]="'A3'">A3</mat-option>
                <mat-option [value]="'A4'">A4</mat-option>
                <mat-option [value]="'A5'">A5</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-field-row">
        <button mat-raised-button color="accent" type="button" (click)="this.navigateBack()" id="back-button">&#60; Back</button>
        <spinner-button [loading]="this.loading">
          <button mat-raised-button color="primary" type="submit" [disabled]="!this.downloadFormGroup.valid || this.loading">Download PDF</button>
        </spinner-button>
    </div>
</form>


<div id="bingocard-container">
    <div class="divider"></div>
    <div *ngIf="this.bingoCards$ | async as cards">
      <bingo-card *ngFor="let card of cards" [bingoCard]="card" [backgroundColor]="this.backgroundColor" [borderColor]="this.borderColor"></bingo-card>
    </div>
</div>
