:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#download-form {
    width: 650px;

    .form-field-row {
        display: flex;
        margin: 15px 0px;

        #back-button {
            margin-right: 15px;
        }

        .form-field, .form-element {
            display: flex;
            flex: 1 1 0;
            width: 0;
            margin-right: 25px;
            align-items: center;
            justify-content: center;

            &:last-child {
                margin-right: 0px;
            }

            &.quarter {
                flex: 0 0 25%;
            }

            ::ng-deep .mat-form-field-wrapper {
                width: 100%;
            }
        }
    }
}


#bingocard-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 650px;

    .divider {
        padding: 15px 0px;
        margin-bottom: 50px;
        height: 15px;
        box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
    }
}
