:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 850px;

  .game-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    form {
      display: flex;
      flex: 4;

      #search-form-field {
        width: 100%;
        margin-right: 20px;
      }

      #date-form-field {
        width: 240px;
      }
    }

    .spacer {
      flex: 1;
    }
  }

  .games-container {
    display: flex;
    justify-content: space-evenly;

    .game-card {
      width: 175px;

      .game-detail {
        display: flex;
        align-items: center;

        mat-icon {
          margin-right: 5px;
        }
      }
    }
  }
}

.input-icon {
  color: #acacac;
  padding-right: 5px;
}
