#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    #bingo-card-form {
        width: 650px;

        .form-field-row {
            display: flex;
            margin: 15px 0px;

            .spinner-container {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
              
            .button-container {
                display: inline-block;
                position: relative;
            }
    
            .form-field, .form-element {
                display: flex;
                flex: 1 1 0;
                width: 0;
                margin-right: 25px;
                align-items: center;
                justify-content: center;

                mcc-color-picker {
                    margin-left: 5px;
                }

                .wrap-mat-radio-label {
                    white-space: normal;
                }

                &:last-child {
                    margin-right: 0px;
                }

                &.quarter {
                    flex: 0 0 25%;
                }

                ::ng-deep .mat-form-field-wrapper {
                    width: 100%;
                }
            }

            #generate-button {
                margin-right: 15px;
            }
        }
    }
}