<mat-toolbar color="primary">
  <mat-toolbar-row id="toolbar-row-top">
    <a routerLink="/home" id="home-link">
      <mat-icon [svgIcon]="'bingo_card'" id="logo-icon"></mat-icon>
    </a>
    <button mat-button class="menu-item" [routerLink]="'/bingo-cards'">
      {{ 'HEADER.MENU.ITEMS.cards' | translate }}
    </button>
    <button mat-button class="menu-item" [routerLink]="'/bingo-games'">
      {{ 'HEADER.MENU.ITEMS.games' | translate }}
    </button>

    <div id="spacer"></div>

    <a mat-button class="menu-item" href="https://github.com/svdsande/BingoMaster">
      <mat-icon [svgIcon]="'github'"></mat-icon>
      {{ 'HEADER.MENU.ITEMS.repo' | translate }}
    </a>
    <div *ngIf="this.currentUser | async as user; else login">
      <button mat-button class="menu-item" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{ user.userName }}
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-item" [routerLink]="['authentication', 'settings', user.id]">
          <mat-icon>settings</mat-icon>
          {{ 'HEADER.MENU.ITEMS.settings' | translate }}
        </button>

        <button mat-menu-item class="menu-item" (click)="this.logout()">
          <mat-icon>exit_to_app</mat-icon>
          {{ 'HEADER.MENU.ITEMS.logout' | translate }}
        </button>
      </mat-menu>
    </div>

    <ng-template #login>
      <button mat-button class="menu-item" [routerLink]="'/authentication/login'">
        <mat-icon>account_circle</mat-icon>
        {{ 'HEADER.MENU.ITEMS.login' | translate }}
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
