#toolbar-row {
    #logo-icon {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    #logo-title {
        text-transform: uppercase;
        font-style: oblique;
        font-weight: bold;
        font-size: 30px;
    }
}