<div id="container">
  <form [formGroup]="this.loginFormGroup" (ngSubmit)="this.authenticate()">
    <h1 class="title">{{ 'AUTHENTICATION.LOGIN.title' | translate | uppercase }}</h1>
    <div class="row">
      <mat-form-field class="full-width">
        <mat-label>{{ 'AUTHENTICATION.LOGIN.FORM.EMAIL.label' | translate }}</mat-label>
        <input matInput formControlName="email" type="text">
        <mat-error *ngIf="this.loginFormGroup.get('email').invalid">{{ 'AUTHENTICATION.LOGIN.FORM.EMAIL.error_message' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width">
        <mat-label>{{ 'AUTHENTICATION.LOGIN.FORM.PASSWORD.label' | translate }}</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="this.loginFormGroup.get('password').invalid">{{ 'AUTHENTICATION.LOGIN.FORM.PASSWORD.error_message' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <spinner-button [loading]="this.loading">
      <button mat-raised-button color="primary" type="submit" id="submit-button" class="full-width" [disabled]="!this.loginFormGroup.valid">{{ 'AUTHENTICATION.LOGIN.FORM.submit' | translate}}</button>
    </spinner-button>

    <p class="message">If you don't have an account you can register yourself <a routerLink="../register">here</a></p>
  </form>
</div>
