<div id="container">
  <div id="header">
    <div id="background"></div>
    <div id="content">
      <div id="logo">
        <img src="../../assets/images/lottery_balls.svg" alt="Lottery balls" />
      </div>
      <div id="title">
        <h1>BingoMaster</h1>
        <h1>Host & play bingo games</h1>
      </div>
    </div>
  </div>

  <div id="section-nav">
    <a routerLink="/bingo-cards">
      <mat-card matRipple>
        <div>
          <mat-card-title>{{ 'HOME.CARDS.BINGO_CARD.title' | translate }}</mat-card-title>
          <mat-card-content>
            <img src="../../assets/images/bingo_card.svg" alt="Bingo card" />
            <p>
              Sed blandit diam ante, nec luctus ipsum venenatis a. Vivamus fermentum ultrices placerat. Quisque eget
              tincidunt
              eros. Curabitur feugiat viverra ex nec hendrerit. Fusce ex diam, volutpat sollicitudin quam id, vestibulum
              iaculis
              lacus. Vestibulum bibendum orci at diam suscipit, porta eleifend dui fermentum. Vivamus maximus turpis sed
              bibendum feugiat. Proin quis ornare massa.
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </a>

    <a routerLink="/bingo-game">
      <mat-card matRipple>
        <div>
          <mat-card-title>{{ 'HOME.CARDS.BINGO_GAME.title' | translate }}</mat-card-title>
          <mat-card-content>
            <img src="../../assets/images/lottery.svg" alt="Lottery wheel" />
            <p>
              Sed blandit diam ante, nec luctus ipsum venenatis a. Vivamus fermentum ultrices placerat. Quisque eget
              tincidunt
              eros. Curabitur feugiat viverra ex nec hendrerit. Fusce ex diam, volutpat sollicitudin quam id, vestibulum
              iaculis
              lacus. Vestibulum bibendum orci at diam suscipit, porta eleifend dui fermentum. Vivamus maximus turpis sed
              bibendum feugiat. Proin quis ornare massa.
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </a>
  </div>
</div>
