<div id="container">
  <div id="inner">
    <a routerLink="/bingo-cards">
      <mat-card matRipple>
        <div>
          <mat-card-title>Build your own bingo cards</mat-card-title>
          <mat-card-content>
            <img src="../../assets/bingo_card.svg" alt="Bingo card" />
            <p>
              Sed blandit diam ante, nec luctus ipsum venenatis a. Vivamus fermentum ultrices placerat. Quisque eget
              tincidunt
              eros. Curabitur feugiat viverra ex nec hendrerit. Fusce ex diam, volutpat sollicitudin quam id, vestibulum
              iaculis
              lacus. Vestibulum bibendum orci at diam suscipit, porta eleifend dui fermentum. Vivamus maximus turpis sed
              bibendum feugiat. Proin quis ornare massa.
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </a>

    <a routerLink="/bingo-game">
      <mat-card matRipple>
        <div>
          <mat-card-title>Play a game</mat-card-title>
          <mat-card-content>
            <img src="../../assets/lottery.svg" alt="Lottery wheel" />
            <p>
              Sed blandit diam ante, nec luctus ipsum venenatis a. Vivamus fermentum ultrices placerat. Quisque eget
              tincidunt
              eros. Curabitur feugiat viverra ex nec hendrerit. Fusce ex diam, volutpat sollicitudin quam id, vestibulum
              iaculis
              lacus. Vestibulum bibendum orci at diam suscipit, porta eleifend dui fermentum. Vivamus maximus turpis sed
              bibendum feugiat. Proin quis ornare massa.
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </a>
  </div>
</div>
