<div id="container">
  <div id="header">
    <div id="background"></div>
    <div id="content">
      <div id="logo">
        <img src="../../assets/images/lottery_balls.svg" alt="Lottery balls" />
      </div>
      <div id="title">
        <h1>{{ 'HOME.HEADER.title' | translate }}</h1>
        <h1>{{ 'HOME.HEADER.subtitle' | translate }}</h1>
      </div>
    </div>
  </div>

  <div id="section-nav">
    <a routerLink="/bingo-cards">
      <mat-card matRipple>
        <div>
          <mat-card-title>{{ 'HOME.CARDS.BINGO_CARD.title' | translate }}</mat-card-title>
          <mat-card-content>
            <img src="../../assets/images/bingo_card.svg" alt="Bingo card" />
            <p>{{ 'HOME.CARDS.BINGO_CARD.description' | translate }}</p>
          </mat-card-content>
        </div>
      </mat-card>
    </a>

    <a routerLink="/bingo-game">
      <mat-card matRipple>
        <div>
          <mat-card-title>{{ 'HOME.CARDS.BINGO_GAME.title' | translate }}</mat-card-title>
          <mat-card-content>
            <img src="../../assets/images/lottery.svg" alt="Lottery wheel" />
            <p>{{ 'HOME.CARDS.BINGO_GAME.description' | translate }}</p>
          </mat-card-content>
        </div>
      </mat-card>
    </a>
  </div>
</div>
