:host {
  display: flex;
  flex: 1;
}

#container {
  display: flex;
  flex: 1;
  flex-direction: column;

  #header {
    margin-bottom: 75px;

    #background {
      background-color: #3f51b5;
      display: flex;
      position: absolute;
      height: 450px;
      transform: skewY(8deg);
      transform-origin: 100%;
      width: 100%;
    }

    #content {
      display: flex;
      position: relative;
      align-items: center;
      width: 900px;
      margin: 0 auto;

      #logo {
        display: flex;
        justify-content: center;

        img {
          width: 90%;
        }
      }

      #title {
        display: flex;
        flex-direction: column;
        color: #FFF;

        h1 {
          opacity: 0;
          animation: fadeIn 1s forwards 1s;
          margin: 10px 0px;

          &:last-child {
            animation-delay: 2s;
          }
        }
      }
    }
  }

  #section-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;

    a {
      text-decoration: none;
      flex-basis: 30%;
      margin: 0px 25px;

      mat-card {
        &:hover {
          cursor: pointer;
          box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.2), 0px 3px 3px 0px rgba(0, 0, 0, 0.14), 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
        }

        mat-card-content {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            margin: 10px 0px;
            height: 150px;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
